.orgchart td.left,
.orgchart td.right,
.orgchart td.top {
  border-color: #aaa;
}
.orgchart td > .down {
  background-color: #aaa;
}
.orgchart .middle-level .title {
  background-color: #006699;
}
.orgchart .middle-level .content {
  border-color: #006699;
}
.orgchart .product-dept .title {
  background-color: #009933;
}
.orgchart .product-dept .content {
  border-color: #009933;
}
.orgchart .rd-dept .title {
  background-color: #993366;
}
.orgchart .rd-dept .content {
  border-color: #993366;
}
.orgchart .pipeline1 .title {
  background-color: #996633;
}
.orgchart .pipeline1 .content {
  border-color: #996633;
}
.orgchart .frontend1 .title {
  background-color: #cc0066;
}
.orgchart .frontend1 .content {
  border-color: #cc0066;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
  overflow-y: hidden;
  background-color: #262626;
  font-family: "Open Sans";
  font-size: 15px;
  color: white;
  display: flex;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #495057;
  width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover:not(.on-select) {
  background-color: #6c757d;
}

#select_box {
  background-color: #36404a;

  width: 220px;
  margin-right: 10px;
  padding: 0px 10px;
}

#task_bar {
  padding: 5px;
}

.column {
  display: flex;
  flex-direction: column;
}

form {
  margin-top: 5px;
  /* padding: 5px; */
}

form input {
  padding: 5px 10px;background-color: #262626;
  border-style: groove;
  border-color: white;
  border-width: 0.5px;
  margin-bottom: 5px;
  color: white;
  width: 100%;
  border-radius: 0.25em;
}

select {
  background-color: #262626;
  border-style: groove;
  border-color: white;
  margin-bottom: 5px;
  color: white;
  padding: 5px 5px;width: 100%;
border-radius: 0.25em;}

input::-webkit-input-placeholder {
  color: white;
}

input:-moz-placeholder {
  color: white;
}

input:focus::placeholder {
  color: transparent;
}

button {
  margin-bottom: 5px;
  display: inline-block;
  font-weight: 400;
  color: #495057;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.4375rem 1.25rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #665dfe;
  color: #fff;
  width: 100%;
  cursor: pointer;
}

table {
  margin-top: 5px;
  border-collapse: collapse;
  width: 100%;
  max-height: 595px;
  overflow-y: scroll;
}

th,
td {
  text-align: center;
  padding: 8px;
  border-style: groove;
}

tr {
  background-color: #262626;
}
tr:nth-child(even) {
  background-color: #495057;
}

th {
  background-color: #665dfe;
  color: white;
}

.edit {
  cursor: pointer;
}

.remove {
  cursor: pointer;
}

#editSA {
  position: fixed;
  display: none;
  width: 300px;
  padding: 5px;
  background: #262626;
  border-style: groove;
  border-radius: 8px;
  left: calc(50% - 150px);
  text-align: center;
  top: calc(50% - 180px);
  padding: 10px 20px;
}

#addSA {
  position: fixed;
  display: none;
  width: 300px;
  padding: 5px;
  background: #262626;
  border-style: groove;
  border-radius: 8px;
  left: calc(50% - 150px);
  text-align: center;
  top: calc(50% - 180px);
  padding: 10px 20px;
}

.form-control {
  display: block;
  color: white;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #262626;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  margin: 5px 0px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
  display: inline-block;
  width: fit-content;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-save {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-cancel {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

textarea {
  height: 200px;
  resize: none;
}

.search {
  width: 215px;
  border-radius: 4px;
  background-color: #262626;
  color: white;
  margin-bottom: 10px;
  padding: 5px;
  }

#searchSA {
  width: 330px;
  margin-right: 10px;
  background-color: #36404a;
  padding: 5px;
  overflow-y: auto;
}

.listSA {
  width: 100%;
  margin-top: 5px;
  margin-right: 5px;
}

button:hover {
  opacity: 0.8;
}

tr .edit:hover {
  opacity: 0.8;
}

tr .remove:hover {
  opacity: 0.8;
}

.on-select {
  background-color: #0b6eab;
  cursor: not-allowed;
}

#test {
  margin-top: 10px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

#send_button {
  margin-top: 5px;
  margin-bottom: 10px;
  width: fit-content;
  margin-left: auto;
}

#testSA {
  display: flex;
  flex-direction: column;
}

.submit {
  margin-top: 10px;
  display: inline-block;
  font-weight: 400;
  color: #495057;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.4375rem 1.25rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #665dfe;
  color: #fff;
  width: 100%;
  cursor: pointer;
}

.submit:hover {
  opacity: 0.8;
}

ul {
  list-style-position: inside;
}

#insert_form{
  background-color: #36404a;
  width: 300px;
}

#dropdown {
  padding: 5px;
}

.guide{
  cursor: pointer;
}